<!DOCTYPE html>
<html lang="ca">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My App</title>
	<link href="/static/css/my_app.css" rel="stylesheet">
</head>

<body>
   <h3>Login</h3>

   <form action="/login" method = "POST">
      {{ form.csrf_token }}
      <p>{{ form.email.label }}: {{ form.email() }}</p>
      <p>{{ form.password.label }}: {{ form.password() }}</p>
      <p>{{ form.submit(value="LOGIN") }}</p>
   </form>
   <hr />
   <p>Problemes, suggeriments? Ves al nostre <a href="/contact">formulari de contacte</a>.</p>
</body>

</html>